@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Define a altura de 100% para o body */
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.7rem;
    font-family: 'Merriweather Sans', sans-serif;
    background: #f3f3f3;
    color: #929292;
    display: flex;
    flex-direction: column;
}

.products {
    flex-grow: 1; /* Faz com que a seção de produtos ocupe o espaço disponível */
    display: flex;
    justify-content: center; /* Centraliza os produtos horizontalmente */
    align-items: center; /* Centraliza os produtos verticalmente */
}

.all-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 1200px; /* Define um limite máximo de largura */
    padding: 0rem;
    box-sizing: border-box;
}

.product {
    background: #ffffff;
    color: #0000a0;
    flex: 1 1 calc(20% - 1rem);
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    min-height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.10);
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
}

.product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 1.0rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.product-price {
    font-size: 0.9rem;
    color: #929292;
    margin-bottom: 5rem;
}

.product-btn {
    text-decoration: none;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #929292;
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    display: inline-block;
    text-align: center;
    margin-top: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-btn:hover {
    background-color: #7a7a7a;
    transform: scale(1.05);
}
